#logo{
    width: 300px;
    height: 100px;
}
#nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
button{
    width: 250px;
    height:100px;
    background-color:  #284960;
    color: white;
}
html{
    background-color: #191F23;
    color: white;
}
body{
    font-family: "Roboto Flex", sans-serif;
    font-size: 20px;
}
h1{
    font-family: "DM Serif Text", serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
}
a{
    color: rgb(124, 124, 196);
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social{
    width: 64px;
    height: 100px;
    display: flex;
    align-items: center;
    img{
        width: 100%;
    }
}
#principal{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    
  
}
.card{
   
    height: auto;
    width: 350px;

 
}
.port{
    width: 350px;
    height: 200px;
    object-fit: cover;
}
#footer{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 480px){
    
}
