#logo{
    width: 300px;
    height: 100px;
}
#nav{
    display: flex;
    justify-content: space-between;
}
button{
    width: 250px;
    height:80px;
    background-color:  #284960;
    color: white;
}
html{
    background-color: #191F23;
    color: white;
}
#titre{
    display: flex;
   align-items: center;
    flex-direction: column;
    text-align: center;

}
#rich{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    display: flex;
    justify-content: center;
}
#etude,#invest,#vision{
    width: 800px;
    height: 400px;
    margin-left: 200px;
}
#santedavid{
    display: flex;
    height: 400px;
    justify-content: space-between;
}
#sante,#david{
    width: 400px;
}
body{
    font-family: "Roboto Flex", sans-serif;
    font-size: 20px;
}
h1{
    font-family: "DM Serif Text", serif;
    font-size: 80px;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social{
    width: 64px;
    height: 100px;
    display: flex;
    align-items: center;
    img{
        width: 100%;
    }
}
a{
    color: 000rgb(124, 124, 196);
}
button:hover{
 background-color: red
}
