#logo{
    width: 300px;
    height: 100px;
}
#nav{
    display: flex;
    justify-content: space-between;
}
button{
    width: 250px;
    height:80px;
    background-color:  #284960;
    color: white;
}
html{
    background-color: #191F23;
    color: white;
}
#titre{
    display: flex;
   align-items: center;
    flex-direction: column;
}
#rich{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    display: flex;
    justify-content: center;
}
#etude,#invest,#vision{
    width: 800px;
    height: 400px;
}
#santedavid{
    display: flex;
    height: 400px;
    justify-content: space-between;
}
#sante,#david{
    width: 400px;
}
